Source: sqpack
Section: contrib/mail
Priority: optional
Maintainer: Pavel Andreew <pavel@collage.etel.ru>
Build-Depends: debhelper (>> 4.0.0), libsmapi2-dev (>=2.3-1), libfidoconf1-dev (>=1.3-1)
Standards-Version: 3.5.8

Package: sqpack
Architecture: any
Depends: ${shlibs:Depends}
Description: Squish Message base Purger
 sqPack takes the information about squish msgbases from 
 fidoconfig and purges  the msgbases according to the -m 
 and -p statements. See fidoconfig.
