Source: sqpack
Section: mail
Priority: optional
Maintainer: Pavel Andreew <sfpavel@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0), libsmapi-dev (>=2.4-1), libfidoconf1-dev (>=1.4-1)
Standards-Version: 3.6.1

Package: sqpack
Architecture: any
Depends: ${shlibs:Depends}
Description: Squish Message base Purger
 sqPack takes the information about squish msgbases from 
 fidoconfig and purges  the msgbases according to the -m 
 and -p statements. See fidoconfig.
