Source: sqpack
Section: mail
Priority: optional
Maintainer: Joerg Jaspert (JJ) <joerg@goliathbbs.dnsalias.net>
Build-Depends: debhelper (>> 3.0.0), libsmapi2-dev(>=2.2.0-1), libfidoconf0-dev(>= 0.14-1)
Standards-Version: 3.5.6

Package: sqpack
Architecture: any
Depends: ${shlibs:Depends}
Description: Squish Message base Purger
 sqPack takes the information about squish msgbases from 
 fidoconfig and purges  the msgbases according to the -m 
 and -p statements. See fidoconfig.
